  {%load staticfiles%}
  <!-- *** FOOTER ***
  }
_________________________________________________________ -->

        <footer id="footer">
            <div class="container">
               <div class="col-md-12 col-lg-12  text-center">
                    <strong>Talento Patojo. Una iniciativa de empresas locales </strong>
                     <a href="http://sispopayan.com"><img src="{%static 'img/logosis.png'%}" alt="Sis Popayán"  style="width: 50px;"></a>
                     <a href="https://www.facebook.com/ideaspublicidadcolombia"><img src="{%static 'img/logoideas.png'%}" alt="Ideas Publicidad" style="width: 50px;"></a>
                    
                </div>
            </div>
        </footer>