    {%load staticfiles%}
            <!-- *** HOMEPAGE CAROUSEL ***
 _________________________________________________________ -->

            <div class="home-carousel">

                <div class="dark-mask"></div>

                <div class="container">
                    <div class="homepage owl-carousel">
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-5 right">
                                    <p>
                                        <img src="{%static 'img/logo.png'%}" alt="Logo Directorio Popayán">
                                    </p>
                                    <h1>Inscribete ya!</h1>
                                    <p>Queremos que tu negocio llegue
                                    	<br /> a cada rincon de Popayán
                                    </p>
                                </div>
                                <div class="col-sm-7">
                                    <img class="img-responsive" src="{% static 'img/pqtbase.jpg'%}" alt="Paquete Basico -- Directorio Popayán">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">

                                <div class="col-sm-7 text-center">
                                    <img class="img-responsive" src="{% static 'img/pqtfindme.png'%}" alt="Paquete Find Me -- Directorio Popayán">
                                </div>

                                <div class="col-sm-5">
                                    <h2>Ayuda a tus clientes a ubicarte mejor</h2>
                                    <ul class="list-style-none">
                                        <li>Todo el Paquete Basico mas...</li>
                                        <li>Ubicación atravez de Google Maps</li>
                                        <li>Imagenes y Teléfonos  de tu Negocio</li>
                                        <li>Cuentale a Popayán que Haces...</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-5 right">
                                    <h1>Haz CRECER tu negocio</h1>
                                    <ul class="list-style-none">
                                        <li>Todo el Paquete FindMe mas....</li>
                                        <li>Catalogo Virtual de 50 Productos</li>
                                        <li>Formulario de Contacto</li>
                                        <li>No pares de Vender. Cambios ilimitados</li>
                                    </ul>
                                </div>
                                <div class="col-sm-7">
                                    <img class="img-responsive" src="{% static 'img/pqtstartup.png'%}" alt="Paquete StartUp -- Directorio Popayán"
                                </div>
                            </div>
                        </div>
            
                    </div>
                    <!-- /.project owl-slider -->
                </div>
            </div>

            <!-- *** HOMEPAGE CAROUSEL END *** -->