       <!-- *** GET IT ***
_________________________________________________________ -->

        <div id="get-it">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h4>
                        Te gusta Nuestra Iniciativa Compartenos
             
                        <a href="https://www.facebook.com/DirectorioPopayan" class="external facebook" data-animate-hover="pulse" style="color: white; font-size:2em;"><i class="fa fa-facebook"></i></a>
                   
                        <a href="https://twitter.com/dirpopayan" class="external twitter" data-animate-hover="pulse" style="color: white; font-size:2em;"><i class="fa fa-twitter"></i></a>
                    </h4>
                   
                </div>
            </div>
        </div>


        <!-- *** GET IT END *** -->